@import "variables.less";
@import "funciones.less";
@import "general/header.less";
@import "general/footer.less";

.normalize();
.reset();

html {
    background-color: #589abb;
}
body {
    text-align: center;
    margin: auto;
    min-width: 340px;
    max-width: 1000px;
    background-color: @fondo;
    /*background-color: @blanco;*/
    
    .boxShadow(0;0;10px;2px;rgba(0, 0, 0, 0.5));
}
header, footer {
    .dimensions;
    .flexBox;
}
#sec_contenido {
    min-height: 350px;
    
    .flexBox;
}
.icon_home {
    mask: url(../../ITS/img/ic_home_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/ic_home_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_before {
    mask: url(../../ITS/img/ic_navigate_before_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/ic_navigate_before_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_next {
    mask: url(../../ITS/img/ic_navigate_next_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/ic_navigate_next_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}