@import "variables.less";
@import "funciones.less";
@import "general/header.less";
@import "general/footer.less";

.normalize();
.reset();

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    /*background-image: url(../img/fondo_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    
    background: white;
    background: -webkit-linear-gradient(white, @html);
    background: -o-linear-gradient(white, @html);
    background: -moz-linear-gradient(white, @html);
    background: linear-gradient(white, @html);
    background-repeat: no-repeat;
    
    .font(@robotoregular;14px);
}
body {
    text-align: center;
    margin: auto;
    min-width: 320px;
    max-width: 1024px;
    background-color: @fondo;
    
    .boxShadow(0;0;10px;2px;rgba(0, 0, 0, 0.5));
}
header, footer {
    .dimensions;
    .flexBox;
}
header {
    background: @base;
    background: -webkit-linear-gradient(left, @base, @blanco, @base);
    background: -o-linear-gradient(right, @base, @blanco, @base);
    background: -moz-linear-gradient(right, @base, @blanco, @base);
    background: linear-gradient(to right, @base, @blanco, @base);
}
#sec_contenido {
    min-height: 350px;
    
    .flexBox;
}
.seccion_contenidos {
    padding: 0;
}
.seccion_contenidol {
    padding: 0;
}
input, textarea {
    outline: 0;
}
.menuopen{
    overflow: hidden;
}
.contenedor_opcionesmenu{
    display: flex;
    position: absolute;
    z-index: 30000;
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
    -webkit-transition: -webkit-transform 0s ease;
    transition: transform 0s ease;
    
    .dimensions(100%;100%);
}
.opcionesmenuopen{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    left: 0;
}
#dv_opcionesmenu{
    width: 260px;
    min-width: 260px;
    background-color: rgba(255, 255, 255, 1);
    color: @base;
    overflow-y: auto;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar{
        width: 0;
    }
    
    .contenedor_opcionmenu{
        position: relative;
        border-bottom: 1px solid @base;
        cursor: pointer;
        text-decoration: none;
        
        .dimensions(100%;60px);
        .flexBox(@justify-content:flex-start);
        .font(@robotobold;15px);
        
        .etiqueta_iconopcionmenu {
            background-color: @base;
            
            .dimensions(60px;61px);
        }
        .etiqueta_tituloopcionmenu {
            margin-left: 15px;
            text-decoration: none;
            color: @base;
        }
        .etiqueta_tituloopcionmenuseleccionada {
            color: @blanco;
        }
        .etiqueta_icondown {
            position: absolute;
            top: 0;
            right: 0;
            
            .dimensions(45px;60px);
        }
    }
    .contenedor_opcionmenuseleccionada {
        background-color: @base;
        color: @blanco;
    }
    .contenedor_institucionopcionmenu {
        height: 122px;
        border: 0;
        
        div {
            border-bottom: 1px solid @base;
            
            .dimensions(100%;60px);
            .flexBox(@justify-content:flex-start);
            
            .etiqueta_iconopcionmenu {
                background-color: @base;

                .dimensions(60px;61px);
            }
            .etiqueta_instituciontituloopcionmenu {
                padding-left: 15px;
                text-align: left;
                text-decoration: none;
                color: @base;
                
                .dimensions(185px;60px);
                .flexBox(@justify-content:flex-start);
                
                &:active {
                    background-color: @base;
                    color: @blanco;
                }
                &:focus {
                    background-color: @base;
                    color: @blanco;
                }
            }
        }
    }
    #dv_institucionopcionesmenu, #dv_programasopcionesmenu, #dv_serviciosopcionesmenu {
        display: none;
    }
    #dv_serviciosopcionesmenu {
        height: 183px;
    }
}
#dv_cerrarmenu {
    position: absolute;
    top: 0;
    left: 260px;
    background-color: @base;
    
    .dimensions(60px;60px);
    
    #sp_cerrarmenu {
        display: block;
        
        .dimensions(60px;60px);
    }
}
#dv_backmenu{
    background-color: rgba(6, 5, 6, 0.4);
    
    .dimensions(100%;100%);
}
.icon_menu {
    /*mask: url(../../ITS/img/icon/ic_menu_white_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_menu_white_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
    
    background-color: @blanco;*/
    
    background: url("../../ITS/img/icon/ic_menu_white_48dp_2x.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.icon_cerrarmenu {
    background: url("../../ITS/img/icon/ic_close_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
}
.icon_home {
    background: url("../../ITS/img/icon/ic_home_48dp_2x.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.icon_before {
    mask: url(../../ITS/img/icon/ic_navigate_before_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_navigate_before_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_next {
    background: url("../../ITS/img/icon/ic_navigate_next_48dp_2x.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.icon_down {
    background: url("../../ITS/img/icon/ic_keyboard_arrow_down_48dp_2x.png") no-repeat center;
    background-size: 35px;
    cursor: pointer;
}
.icon_up {
    background: url("../../ITS/img/icon/ic_keyboard_arrow_up_white_48dp_2x.png") no-repeat center;
    background-size: 35px;
    cursor: pointer;
}
.icon_location {
    background: url("../../ITS/img/icon/ic_location_on_48dp_2x.png") no-repeat center;
    background-size: cover;
    cursor: default;
}
.icon_phone {
    background: url("../../ITS/img/icon/ic_phone_48dp_2x.png") no-repeat center;
    background-size: cover;
    cursor: default;
}
.icon_cellphone {
    background: url("../../ITS/img/icon/ic_phone_android_48dp_2x.png") no-repeat center;
    background-size: cover;
    cursor: default;
}
.icon_email {
    background: url("../../ITS/img/icon/ic_email_48dp_2x.png") no-repeat center;
    background-size: cover;
    cursor: default;
}
.icon_home_white {
    background: url("../../ITS/img/icon/ic_home_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}
.icon_institucion {
    background: url("../../ITS/img/icon/ic_location_city_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}
.icon_programs {
    background: url("../../ITS/img/icon/ic_school_white_48dp_2x.png") no-repeat center;
    /*background: url("../../ITS/img/icon.png") no-repeat 0 0;*/
    background-size: 40px;
    cursor: pointer;
}
.icon_services {
    background: url("../../ITS/img/icon/ic_people_white_48dp_2x.png") no-repeat center;
    /*background: url("../../ITS/img/icon.png") no-repeat 0 0;*/
    background-size: 40px;
    cursor: pointer;
}
.icon_campus {
    background: url("../../ITS/img/icon/ic_cloud_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}
.icon_contact {
    background: url("../../ITS/img/icon/ic_account_box_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}
.icon_vineta {
    background: url("../../ITS/img/icon/ic_done_48dp_1x.png") no-repeat center;
    background-size: cover;
    
    .dimensions(100%;100%);
}