@import "variables.less";
@import "funciones.less";
@import "general/header.less";
@import "general/footer.less";

.normalize();
.reset();

html {
    background-image: url(../img/fondo_02.jpg);
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    
    /*background: linear-gradient(to bottom right, #006369, #00abb6);*/
    /*background: linear-gradient(to bottom right, #006369 0%, #007b83 100%, #00939c 100%, #00abb6 100%);*/
    
    .font(@robotoregular;14px);
}
body {
    text-align: center;
    margin: auto;
    /*min-width: 340px;*/
    min-width: 320px;
    /*max-width: 1000px;*/
    max-width: 1024px;
    background-color: @fondo;
    
    .boxShadow(0;0;10px;2px;rgba(0, 0, 0, 0.5));
}
header, footer {
    .dimensions;
    .flexBox;
}
header {
    background: @base;
    background: -webkit-linear-gradient(left, @base, @blanco, @base);
    background: -o-linear-gradient(right, @base, @blanco, @base);
    background: -moz-linear-gradient(right, @base, @blanco, @base);
    background: linear-gradient(to right, @base, @blanco, @base);
}
#sec_contenido {
    min-height: 350px;
    
    .flexBox;
}
.icon_menu {
    /*mask: url(../../ITS/img/icon/ic_menu_white_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_menu_white_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
    
    background-color: @blanco;*/
    
    background: url("../../ITS/img/icon/ic_menu_white_48dp_2x.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.icon_home {
    mask: url(../../ITS/img/icon/ic_home_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_home_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_before {
    mask: url(../../ITS/img/icon/ic_navigate_before_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_navigate_before_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_next {
    mask: url(../../ITS/img/icon/ic_navigate_next_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_navigate_next_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_up {
    mask: url(../../ITS/img/icon/ic_keyboard_arrow_up_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_keyboard_arrow_up_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_down {
    mask: url(../../ITS/img/icon/ic_keyboard_arrow_down_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_keyboard_arrow_down_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_location {
    mask: url(../../ITS/img/icon/ic_location_on_black_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_location_on_black_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.icon_home_white {
    background: url("../../ITS/img/icon/ic_home_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}
.icon_institucion {
    background: url("../../ITS/img/icon/ic_location_city_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}
.icon_programs {
    background: url("../../ITS/img/icon/ic_school_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}
.icon_campus {
    background: url("../../ITS/img/icon/ic_cloud_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}
.icon_contact {
    background: url("../../ITS/img/icon/ic_account_box_white_48dp_2x.png") no-repeat center;
    background-size: 40px;
    cursor: pointer;
}