@import "variables.less";
@import "funciones.less";

#dv_contenidoprograma {
    padding: 25px 30px;
    
    .dimensions(@height:100%);
    .flexBox(@justify-content:space-between;@align-items:flex-start;@align-content:flex-start);
}
#dv_programa {
    color: #00529B;
    background-color: #ffffff;

    .dimensions(@width:65%);
    .flexBox;
    .borderRadius(8px);
    .boxShadow(0;0;5px;2px;rgba(0, 0, 0, 0.2));
    
    .contenedor_imgprograma {
        position: relative;
        
        .dimensions(@height:250px);
        .flexBox(@align-items:flex-start);
        .borderRadius(8px;8px;0;0);
        
        div {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            color: @blanco;
            background: @base;
            background: -moz-linear-gradient(top, @base 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
            background: -webkit-linear-gradient(top, @base 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
            background: linear-gradient(to bottom, @base 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@base', endColorstr='#7db9e8',GradientType=0 );
            
            .dimensions;
            .flexBox;
            .borderRadius(8px;8px;100%;100%);
            
            .etiqueta_titprog {
                .dimensions(75%);
                .font(@robotobold;18px);
            }
        }
        img {
            .dimensions(100%;100%);
        }
    }
    .contenedor_programa {
        padding: 30px;
        
        .dimensions;
        .flexBox(@align-items:flex-start;@align-content:flex-start;@flex-direction:column);
        .borderRadius(0;0;8px;8px);
        
        .etiqueta_titprog {
            text-align: left;
            font-size: 20px;
            margin-bottom: 10px;
            cursor: default;
        }
        .etiqueta_nomprog {
            text-align: left;
            padding: 5px 0;
            cursor: pointer;
            
            &:hover {
                color: @grisnav;
            }
        }
        .etiqueta_titcurso {
            text-align: left;
            font-size: 20px;
            margin: 10px 0;
            cursor: default;
            
            &:nth-of-type(1) {
                margin: 0 0 10px 0;
            }
        }
        ul {
            text-align: left;
            list-style: square inside url(../img/icon/ic_done.png);
            
            li {
                padding: 5px 0;
                line-height: 1.2;
                cursor: default;
            }
        }
    }
    .contenedor_detalleprograma {
        padding: 30px 40px;
        color: @base;
        
        .dimensions;
        .flexBox;
        .borderRadius(0;0;8px;8px);
        
        .contenedor_secciondetalleprograma {
            .dimensions;
            .flexBox;
            
            .etiqueta_certificadoprograma {
                margin: 0 0 30px 0;
                padding: 0 0 10px 0;
                border-bottom: 1px solid @base;
                
                .dimensions;
                .flexBox;
                .font(@robotobold;18px);
            }
            .etiqueta_tituloinformacionprograma {
                margin: 0 0 15px 0;
                text-align: center;
                
                .dimensions;
                .font(@robotomedium;18px);
                
                &:nth-last-of-type(2), &:nth-last-of-type(1){
                    padding: 0 0 10px 0;
                    border-bottom: 1px solid @base;
                }
                &:nth-last-of-type(1){
                    border: 0;
                }
            }
            .contenedor_informacionprograma {
                margin: 0 0 30px 0;
                
                .dimensions;
                .flexBox(@flex-direction:column;@align-items:flex-start;@align-content:flex-start);
                
                .opcion_valormatriculasemestre {
                    margin: 5px 0 15px 0;
                    
                    .dimensions;
                    .font(@robotoblack;16px);
                }
                ul {
                    text-align: left;
                    list-style: square inside url(../img/icon/ic_done.png);

                    li {
                        padding: 5px 0;
                        line-height: 1.2;
                        cursor: default;
                    }
                }
                &:nth-last-of-type(1){
                    margin: 0;
                    
                    .flexBox;
                    
                    a{
                        text-decoration: none;
                        
                        .flexBox;
                        .button(@width:140px);
                        
                        &:hover {
                            .hoverButton(@base);
                        }
                    }
                }
            }
        }
    }
}
#dv_navprograma {
    color: #00529B;
    background-color: #ffffff;

    .dimensions(@width:30%);
    .flexBox;
    .borderRadius(8px);
    .boxShadow(0;0;5px;2px;rgba(0, 0, 0, 0.2));
    
    div {
        padding: 15px 20px;
        
        .dimensions;
        .flexBox(@align-items:flex-start;@align-content:flex-start;@flex-direction:column);
        
        .etiqueta_programas {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .etiqueta_tipprog {
            text-align: left;
            padding: 0 0 2px 0;
            cursor: default;
        }
        .etiqueta_tipprograma {
            text-align: left;
            padding: 4px 0 0 0;
            cursor: pointer;
            
            &:hover {
                color: @grisnav;
            }
        }
        .etiqueta_nomprograma {
            text-align: left;
            padding: 2px 0 2px 20px;
            cursor: pointer;
            
            &:hover {
                color: @grisnav;
            }
        }
    }
}