@import "variables.less";
@import "funciones.less";

@media only screen and (max-width: 768px) {
    header {
        position: initial;
    }
    .cuerpo_alterno, .cabecera_alterno, .pie_alterno {
        border-radius: 0;
    }
}

@media only screen and (max-width: 554px) {
    
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .cuerpo_alterno, .cabecera_alterno, .pie_alterno {
        border-radius: 0;
    }
    /*#sec_contenidoalterno {
        
    }*/
}

@media only screen and (min-width: 769px) and (max-width: 896px) {}

@media only screen and (min-width: 1025px) {}