DirectoryIndex index.php
# Si esta mod_rewrite habilitado
<IfModule mod_rewrite.c>
    # Activar modo de reescritura
    RewriteEngine On
    
    # Directorio de instalacion, puede ser necesario si 
    # la aplicacion se ubica en public_html
    #RewriteBase /
    
    # No permite reescritura si el archivo o directorio existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    RewriteRule ^([^/]+)/?$ index.php [QSA,L,NC]
    RewriteRule ^institucion/mision_vision/?$ index.php?_url=index/institucion/1 [QSA,L,NC]
    RewriteRule ^institucion/visitanos/?$ index.php?_url=index/institucion/2 [QSA,L,NC]
    RewriteRule ^institucion/?$ index.php?_url=index/institucion/3 [QSA,L,NC]
    RewriteRule ^institucion/contactenos/?$ index.php?_url=index/contactenos/ [QSA,L,NC]
    
    RewriteRule ^programas/tecnico_laborales/?$ index.php?_url=program/programas/1 [QSA,L,NC]
    RewriteRule ^programas/cursos_seminarios_diplomados/?$ index.php?_url=program/programas/7 [QSA,L,NC]
    
    RewriteRule ^estudiantes/consulta_notas/?$ index.php?_url=grade/consultaNotas/ [QSA,L,NC]
    RewriteRule ^docentes/inicio/?$ index.php?_url=grade/registroNotas/ [QSA,L,NC]
    RewriteRule ^docentes/registro_notas/?$ index.php?_url=grade/registrarNotas/ [QSA,L,NC]
    
    # Para peticiones que no son archivos ni directorios
    # Reescribe a index.php?_url=URL
    #RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
    #RewriteRule ^(.*)$ index.php?_url=\/$1 [QSA,L,NC]
</IfModule>