/*@html: #006369;
@html: #589abb;*/
@font-face {
  font-family: 'RobotoBold';
  src: url(../font/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url(../font/Roboto-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url(../font/Roboto-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url(../font/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoRegular';
  src: url(../font/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoItalic';
  src: url(../font/Roboto-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Black';
  src: url(../font/Roboto-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url(../font/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url(../font/Roboto-Thin.ttf) format('truetype');
}
/*
@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.eot');
    src: url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-bold-webfont.woff') format('woff'),
         url('raleway-bold-webfont.ttf') format('truetype'),
         url('raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*.hoverButton(@border-color) when(@border-color = #000000){
    color: @colorw;
    background-color: @border-color;
}

.hoverButton(@border-color) when(@border-color = #FF3E00){
    color: @colorw;
    border-color: @border-color;
    background-color: @border-color;
}

.hoverButton(@border-color) when(@border-color = #7C7471){
    color: @colorw;
    background-color: @border-color;
}

.hoverButton(@border-color) when(@border-color = #80016B){
    color: @border-color;
    border-color: @colorw;
    background-color: @colorw;
}

.icon(
    @width;
    @height;
    @bpy;
    @bpx: 0px
){
    width: @width;
    height: @height;
    background-position: @bpx @bpy;
}*/
header #dv_fechahora {
  padding: 0 30px;
  font-size: 12px;
  color: #00529B;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header #dv_logo {
  width: 25%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header #dv_logo #sp_menu {
  display: none;
  width: 60px;
  height: 60px;
}
header #dv_logo img {
  margin: 8px 0;
  max-width: 120px;
  max-height: 120px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -khtml-border-radius: 100%;
  -webkit-border-radius: 100%;
  -webkit-box-shadow: -8px 0 16px -2px #000000;
  -moz-box-shadow: -8px 0 16px -2px #000000;
  box-shadow: -8px 0 16px -2px #000000;
}
header #dv_instituto {
  width: 75%;
  color: #2d0c67;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
  letter-spacing: 4px;
  font-family: 'Roboto-Black';
  font-size: 45px;
}
header #dv_navegacion {
  min-height: 40px;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  color: #ffffff;
  background: #00529B;
  background: -moz-linear-gradient(top, #00529B 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #00529B 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #00529B 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@base', endColorstr='#7db9e8', GradientType=0);
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header .navegacion {
  max-width: 1024px;
  position: fixed;
  top: 0;
  z-index: 9999;
}
header #dv_navegacionsec {
  background-color: #e2edf3;
  padding: 0 30px;
  width: 100%;
  height: 40px;
}
header #lnk_inicio {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header #sp_inicio {
  width: 100%;
  height: 100%;
}
header #sp_institucionopc,
header #sp_programas,
header #sp_programa {
  cursor: default;
}
header .etiqueta_institucion {
  cursor: pointer;
}
header .contenedor_navegacionsec {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header .navsecactive {
  color: #bcafa9;
}
header .navsecnoactive {
  color: #00529B;
}
header .etiqueta_next {
  width: 20px;
  height: 20px;
}
header .contendor_navegacionsecdn {
  display: none;
}
header .btn {
  width: 120px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header .dropbtn {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header .btn:hover .dropbtn {
  color: #00529B;
  background-color: #ffffff;
}
header .dropdown-content {
  width: 180px;
  /*position: absolute;*/
  background-color: #ffffff;
  z-index: 100;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  display: none;
}
header .dropdown-content span,
header .dropdown-content a {
  min-height: 40px;
  color: #00529B;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header .dropdown-content span:hover,
header .dropdown-content a:hover {
  background-color: #f0f0f0;
}
footer #dv_enlacesinteres {
  min-height: 100px;
  background-color: #ffffff;
  border-top: 1px solid #00529B;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) {
  margin: 30px 0;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_infoenlacesinteres {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_certificacioncalidad {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_certificacioncalidad #sp_certificacioncalidad {
  color: #00529B;
  width: 100%;
  height: auto;
  font-family: 'RobotoBold';
  font-size: 20px;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_certificacioncalidad .etiqueta_certificacioncalidad {
  display: none;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_certificacioncalidad #dv_contenidocertificacioncalidad {
  padding: 15px 30px;
  border: 2px solid #00529B;
  color: #00529B;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -khtml-border-radius: 16px;
  -webkit-border-radius: 16px;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_certificacioncalidad #dv_contenidocertificacioncalidad div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_certificacioncalidad #dv_contenidocertificacioncalidad #sp_certificaciones {
  font-family: 'RobotoMedium';
  font-size: 30px;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_certificacioncalidad #dv_contenidocertificacioncalidad #sp_calidad {
  font-family: 'RobotoBold';
  font-size: 40px;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_iconoscertificacioncalidad {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_iconoscertificacioncalidad .contenedor_logocalidad {
  margin: 0 7.5px;
  width: 65px;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_iconoscertificacioncalidad .contenedor_logocalidad img {
  width: 100%;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_iconoscertificacioncalidad .contenedor_logocalidad:nth-of-type(1) {
  margin-left: 0;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_iconoscertificacioncalidad .contenedor_logocalidad:nth-last-of-type(2) {
  width: 90px;
  margin-right: 0;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_iconoscertificacioncalidad .contenedor_logocalidad:nth-last-of-type(1) {
  margin: 15px 0 0 0;
  width: 100%;
  height: auto;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_iconoscertificacioncalidad .contenedor_logocalidad:nth-last-of-type(1) div {
  width: 160px;
  height: auto;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(1) #dv_certificaciones #dv_iconoscertificacioncalidad .contenedor_logocalidad:nth-last-of-type(1) div img {
  width: 100%;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) {
  margin: 0 0 30px 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #00529B;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres {
  padding: 0 15%;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres .contenedor_imgenlacesinteres {
  min-height: 50px;
  margin: 0 12.5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres .contenedor_imgenlacesinteres img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres .contenedor_imgenlacesinteres:nth-child(1),
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres .contenedor_imgenlacesinteres:nth-child(2) {
  margin: 0 12.5px 15px 12.5px;
  width: 250px;
  height: auto;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres .contenedor_imgenlacesinteres:nth-child(3) {
  width: 200px;
  height: auto;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres .contenedor_imgenlacesinteres:nth-child(4) {
  width: 80px;
  height: auto;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres .contenedor_imgenlacesinteres:nth-child(5) {
  width: 50px;
  height: auto;
}
footer #dv_enlacesinteres .contenedor_enlacesinteres:nth-child(2) #dv_imgenlacesinteres .contenedor_imgenlacesinteres:nth-child(6) {
  width: 125px;
  height: auto;
}
footer #dv_informacion_instituto {
  background-color: #fff200;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
footer #dv_informacion_instituto #dv_contenido_informacion_instituto {
  padding: 10px 0;
  font-size: 10px;
  color: #ffffff;
  background: #00529B;
  background: -moz-linear-gradient(top, #00529B 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #00529B 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #00529B 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@base', endColorstr='#7db9e8', GradientType=0);
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
  border-radius: 0 0 100% 100%;
  -moz-border-radius: 0 0 100% 100%;
  -o-border-radius: 0 0 100% 100%;
  -ms-border-radius: 0 0 100% 100%;
  -khtml-border-radius: 0 0 100% 100%;
  -webkit-border-radius: 0 0 100% 100%;
}
footer #dv_informacion_instituto #dv_contenido_informacion_instituto div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
article,
aside,
details,
figcaption,
figure,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-image: url(../img/fondo_02.jpg);
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  /*background: linear-gradient(to bottom right, #006369, #00abb6);*/
  /*background: linear-gradient(to bottom right, #006369 0%, #007b83 100%, #00939c 100%, #00abb6 100%);*/
  font-family: 'RobotoRegular';
  font-size: 14px;
}
body {
  text-align: center;
  margin: auto;
  min-width: 320px;
  max-width: 1024px;
  background-color: #e2edf3;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
header,
footer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
header {
  background: #00529B;
  background: -webkit-linear-gradient(left, #00529B, #ffffff, #00529B);
  background: -o-linear-gradient(right, #00529B, #ffffff, #00529B);
  background: -moz-linear-gradient(right, #00529B, #ffffff, #00529B);
  background: linear-gradient(to right, #00529B, #ffffff, #00529B);
}
#sec_contenido {
  min-height: 350px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
.seccion_contenidos {
  padding: 0;
}
.seccion_contenidol {
  padding: 0;
}
input,
textarea {
  outline: 0;
}
.menuopen {
  overflow: hidden;
}
.contenedor_opcionesmenu {
  display: flex;
  position: absolute;
  z-index: 30000;
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
  -webkit-transition: -webkit-transform 0s ease;
  transition: transform 0s ease;
  width: 100%;
  height: 100%;
}
.opcionesmenuopen {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  left: 0;
}
#dv_opcionesmenu {
  width: 260px;
  min-width: 260px;
  background-color: #ffffff;
  color: #00529B;
  overflow-y: auto;
  -ms-overflow-style: none;
}
#dv_opcionesmenu::-webkit-scrollbar {
  width: 0;
}
#dv_opcionesmenu .contenedor_opcionmenu {
  position: relative;
  border-bottom: 1px solid #00529B;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
  font-family: 'RobotoBold';
  font-size: 15px;
}
#dv_opcionesmenu .contenedor_opcionmenu .etiqueta_iconopcionmenu {
  background-color: #00529B;
  width: 60px;
  height: 60px;
}
#dv_opcionesmenu .contenedor_opcionmenu .etiqueta_tituloopcionmenu {
  margin-left: 15px;
  text-decoration: none;
  color: #00529B;
}
#dv_opcionesmenu .contenedor_opcionmenu .etiqueta_tituloopcionmenuseleccionada {
  color: #ffffff;
}
#dv_opcionesmenu .contenedor_opcionmenu .etiqueta_icondown {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 60px;
}
#dv_opcionesmenu .contenedor_opcionmenuseleccionada {
  background-color: #00529B;
  color: #ffffff;
}
#dv_opcionesmenu .contenedor_institucionopcionmenu {
  height: 120px;
  border: 0;
}
#dv_opcionesmenu .contenedor_institucionopcionmenu div {
  border-bottom: 1px solid #00529B;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
#dv_opcionesmenu .contenedor_institucionopcionmenu div .etiqueta_iconopcionmenu {
  background-color: #00529B;
  width: 60px;
  height: 60px;
}
#dv_opcionesmenu .contenedor_institucionopcionmenu div .etiqueta_instituciontituloopcionmenu {
  padding-left: 15px;
  text-align: left;
  text-decoration: none;
  color: #00529B;
  width: 185px;
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /*-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;*/
}
#dv_opcionesmenu #dv_institucionopcionesmenu,
#dv_opcionesmenu #dv_programasopcionesmenu {
  display: none;
}
#dv_cerrarmenu {
  position: absolute;
  background-color: #00529B;
  width: 60px;
  height: 60px;
}
#dv_cerrarmenu #sp_cerrarmenu {
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
}
#dv_backmenu {
  background-color: rgba(6, 5, 6, 0.4);
  width: 100%;
  height: 100%;
}
.icon_menu {
  /*mask: url(../../ITS/img/icon/ic_menu_white_48px.svg) no-repeat 50% 50%;
    -webkit-mask: url(../../ITS/img/icon/ic_menu_white_48px.svg) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
    
    background-color: @blanco;*/
  background: url("../../ITS/img/icon/ic_menu_white_48dp_2x.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.icon_cerrarmenu {
  background: url("../../ITS/img/icon/ic_close_white_48dp_2x.png") no-repeat center;
  background-size: 40px;
}
.icon_home {
  background: url("../../ITS/img/icon/ic_home_48dp_2x.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.icon_before {
  mask: url(../../ITS/img/icon/ic_navigate_before_black_48px.svg) no-repeat 50% 50%;
  -webkit-mask: url(../../ITS/img/icon/ic_navigate_before_black_48px.svg) no-repeat 50% 50%;
  mask-size: cover;
  -webkit-mask-size: cover;
}
.icon_next {
  background: url("../../ITS/img/icon/ic_navigate_next_48dp_2x.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.icon_down {
  background: url("../../ITS/img/icon/ic_keyboard_arrow_down_48dp_2x.png") no-repeat center;
  background-size: 35px;
  cursor: pointer;
}
.icon_up {
  background: url("../../ITS/img/icon/ic_keyboard_arrow_up_white_48dp_2x.png") no-repeat center;
  background-size: 35px;
  cursor: pointer;
}
.icon_location {
  background: url("../../ITS/img/icon/ic_location_on_48dp_2x.png") no-repeat center;
  background-size: cover;
  cursor: default;
}
.icon_phone {
  background: url("../../ITS/img/icon/ic_phone_48dp_2x.png") no-repeat center;
  background-size: cover;
  cursor: default;
}
.icon_cellphone {
  background: url("../../ITS/img/icon/ic_phone_android_48dp_2x.png") no-repeat center;
  background-size: cover;
  cursor: default;
}
.icon_email {
  background: url("../../ITS/img/icon/ic_email_48dp_2x.png") no-repeat center;
  background-size: cover;
  cursor: default;
}
.icon_home_white {
  background: url("../../ITS/img/icon/ic_home_white_48dp_2x.png") no-repeat center;
  background-size: 40px;
  cursor: pointer;
}
.icon_institucion {
  background: url("../../ITS/img/icon/ic_location_city_white_48dp_2x.png") no-repeat center;
  background-size: 40px;
  cursor: pointer;
}
.icon_programs {
  background: url("../../ITS/img/icon/ic_school_white_48dp_2x.png") no-repeat center;
  background-size: 40px;
  cursor: pointer;
}
.icon_campus {
  background: url("../../ITS/img/icon/ic_cloud_white_48dp_2x.png") no-repeat center;
  background-size: 40px;
  cursor: pointer;
}
.icon_contact {
  background: url("../../ITS/img/icon/ic_account_box_white_48dp_2x.png") no-repeat center;
  background-size: 40px;
  cursor: pointer;
}
.icon_vineta {
  background: url("../../ITS/img/icon/ic_done_48dp_1x.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=general.css.map */