@import "../variables.less";
@import "../funciones.less";

@media only screen and (max-width: 768px) {
    #dv_contenidoprograma {
        padding: 0;
    }
    #dv_programa {
        width: 100%;
        box-shadow: none;
        border-radius: 0;

        .contenedor_imgprograma {
            height: 280px;
            border-radius: 0;

            div {
                padding: 12.5px 0;
                border-radius: 0;

                .etiqueta_titprog {
                    width: 90%;
                    font-size: 20px;
                }
            }
        }
        .contenedor_programa {
            padding: 40px 50px;
            border-radius: 0;
            
            .etiqueta_nomprog {
                padding: 7.5px 0;
                text-align: left;
                font-size: 16px;
            }
        }
        .contenedor_detalleprograma {
            padding: 40px 50px;
        }
    }
    #dv_navprograma {
        display: none;
    }
}

@media only screen and (max-width: 554px) {
    #dv_programa {
        .contenedor_imgprograma {
            height: 250px;
            
            div {
                .etiqueta_titprog {
                    width: 95%;
                    font-size: 18px;
                }
            }
        }
        .contenedor_programa {
            padding: 25px;
        }
        .contenedor_detalleprograma {
            padding: 25px;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 769px) and (max-width: 896px) {}

@media only screen and (min-width: 1025px) {}