@import "../variables.less";
@import "../funciones.less";

@media only screen and (max-width: 768px) {
    html {
        background: @fondo;
    }
    header {
        position: fixed;
        z-index: 1000;
        
        #dv_fechahora {
            padding: 5px 15px;
            font-size: 12.5px;
            
            .flexBox;
        }
        #dv_logo {
            width: 20%;
            
            #sp_menu {
                margin: 0 2.5px 0 0;
                
                .flexBox;
            }
            img {
                display: none;
                margin: 5px 0 5px 2.5px;

                .dimensions(60px;60px);
                .boxShadow(-8px;0;16px;-8px);
            }
        }
        #dv_instituto {
            margin: 5px 0;
            width: 80%;
            letter-spacing: 0;
            font-size: 25px;
        }
        #dv_navegacion {
            display: none;
        }
        #dv_navegacionsec {
            height: 60px;
            padding: 0 15px;
            font-size: 15px;
        }
        #lnk_inicio {
            .dimensions(30px;30px);
        }
        .etiqueta_next {
            height: 30px;
        }
    }
    footer {
        #dv_enlacesinteres {
            .contenedor_enlacesinteres:nth-child(1) {
                #dv_certificaciones {
                    #dv_certificacioncalidad {
                        width: 100%;
                        
                        #sp_certificacioncalidad {
                            margin: 0 0 20px 0;
                            font-size: 25px;
                        }
                        .etiqueta_certificacioncalidad {
                            .flexBox;
                        }
                        #dv_contenidocertificacioncalidad {
                            display: none;
                        }
                    }
                    #dv_iconoscertificacioncalidad {
                        width: 100%;
                    }
                }
            }
            .contenedor_enlacesinteres:nth-child(2) {
                margin-bottom: 15px;

                #dv_imgenlacesinteres {
                    padding: 0 5%;
                    
                    .contenedor_imgenlacesinteres:nth-child(3), .contenedor_imgenlacesinteres:nth-child(4), .contenedor_imgenlacesinteres:nth-child(5), .contenedor_imgenlacesinteres:nth-child(6) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        #dv_informacion_instituto {
            #dv_contenido_informacion_instituto {
                font-size: 12.5px;
                
                div {
                    span {
                        width: 100%;
                        margin: 1.5px 0;
                    }
                }
                div:nth-of-type(1) {
                    span:nth-of-type(2), span:nth-of-type(4) {
                        display: none;
                    }
                }
                div:nth-of-type(2) {
                    margin-top: 7px;

                    span:nth-of-type(2) {
                        display: none;
                    }
                }
            }
        }
    }
    #sec_contenido {
        min-height: 280px;
        padding: 60px 0 0 0;
    }
}

@media only screen and (max-width: 660px) {
    header {
        #sp_programateclab {
            width: 100%;
            margin: 5px 0 0 0;
            text-align: left;
        }
    }
}

@media only screen and (max-width: 554px) {
    footer {
        #dv_enlacesinteres {
            .contenedor_enlacesinteres:nth-child(1) {
                #dv_certificaciones {
                    #dv_iconoscertificacioncalidad {
                        .contenedor_logocalidad:nth-of-type(1) {
                            margin-left: 40px;
                        }
                        .contenedor_logocalidad:nth-last-of-type(3) {
                            margin-right: 40px;
                        }
                        .contenedor_logocalidad:nth-last-of-type(2) {
                            margin-left: 0;

                            .dimensions(45%;90px);
                            .flexBox(@justify-content:flex-end);

                            img {
                                width: 90px;
                                margin-right: 7.5px;
                            }
                        }
                        .contenedor_logocalidad:nth-last-of-type(1) {
                            width: 55%;
                            
                            .flexBox(@justify-content:flex-start);

                            div {
                                width: 140px;
                                margin-left: 7.5px;
                            }
                        }
                    }
                }
            }
            .contenedor_enlacesinteres:nth-child(2) {
                margin-bottom: 15px;

                #dv_imgenlacesinteres {
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    header {
        #sp_programateclab {
            font-size: 13.5px;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 769px) and (max-width: 896px) {
    header {
        #dv_logo {
            img {
                .dimensions(100px;100px);
            }
        }
    }
    footer {
        #dv_enlacesinteres {
            .contenedor_enlacesinteres:nth-child(2) {
                #dv_imgenlacesinteres {
                    padding: 0 10%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {}