@import "../variables.less";
@import "../funciones.less";

footer {
    #dv_enlacesinteres {
        background-color: @blanco;
        border-top: 1px solid @base;
        
        .dimensions(@height:100px);
        .flexBox;
    }
    #dv_informacion_instituto {
        padding: 10px 0;
        font-size: 12px;
        color: @blanco;
        background-color: @base;
        
        .dimensions;
        .flexBox;
        
        span {
            width: 100%;
        }
    }
}