@import "../variables.less";
@import "../funciones.less";

header {
    #dv_fechahora {
        padding: 0 30px;
        font-size: 12px;
        color: @base;
        background-color: @blanco;
        
        .dimensions;
        .flexBox(@justify-content:flex-end);
    }
    #dv_logo {
        width: 25%;
        
        .flexBox;
        
        #sp_menu {
            display: none;
            
            .dimensions(60px;60px);
        }
        img {
            margin: 8px 0;
            
            .dimensions(120px;120px);
            .borderRadius(100%);
            .boxShadow(-8px;0;16px;-2px);
        }
    }
    #dv_logoalterno {
        height: 70px;
        margin: 0 2.5% 0 0;
        padding: 5px 0;
        
        /*.dimensions(10%;70px);*/
        .flexBox;
        
        #sp_menu {
            display: none;
            
            .dimensions(60px;60px);
        }
        img {
            margin: 0;
            
            .dimensions(60px;60px);
            .borderRadius(100%);
            .boxShadow(-8px;0;16px;-2px);
        }
    }
    #dv_instituto {
        width: 75%;
        color: @its;
        text-shadow:
            -2px -2px 0 @blanco,
            2px -2px 0 @blanco,
            -2px 2px 0 @blanco,
            2px 2px 0 @blanco;
        letter-spacing: 4px;
        
        .flexBox;
        .font(@robotoblack;45px);
    }
    #dv_institutoalterno {
        height: 80px;
        margin: 0 0 0 2.5%;
        color: @its;
        text-shadow:
            -2px -2px 0 @blanco,
            2px -2px 0 @blanco,
            -2px 2px 0 @blanco,
            2px 2px 0 @blanco;
        letter-spacing: 0;
        
        /*.dimensions(50%;80px);*/
        .flexBox(@flex-direction:column);
        .font(@robotoblack;25px);
        
        /*h1, span {
            .dimensions;
        }*/
    }
    #dv_navegacion {
        min-height: 40px;
        margin: 0;
        padding: 0;
        /*overflow: hidden;*/
        color: @blanco;
        
        background: @base;
        background: -moz-linear-gradient(top, @base 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
        background: -webkit-linear-gradient(top, @base 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
        background: linear-gradient(to bottom, @base 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@base', endColorstr='#7db9e8',GradientType=0 );
        
        .dimensions(@height:40px);
        .flexBox;
    }
    .navegacion {
        max-width: 1024px;
        position: fixed;
        top: 0;
        z-index: 9999; 
    }
    #dv_navegacionsec {
        background-color: @fondo;
        padding: 0 30px;
        
        .dimensions(@height:40px);
    }
    #lnk_inicio {
        .dimensions(20px;20px);
        .flexBox;
    }
    #sp_inicio {
        .dimensions(100%;100%);
    }
    #sp_institucionopc, #sp_programas, #sp_programa {
        cursor: default;
    }
    .etiqueta_institucion {
        cursor: pointer;
    }
    .contenedor_navegacionsec {
        .flexBox(@justify-content:flex-start);
    }
    .navsecactive {
        color: @grisnav;
    }
    .navsecnoactive {
        color: @base;
    }
    .etiqueta_next {
        .dimensions(20px;20px);
    }
    .contendor_navegacionsecdn {
        display: none;
    }
    .btn {
        .dimensions(120px;100%);
        .flexBox;
    }
    .dropbtn {
        color: @blanco;
        text-decoration: none;
        cursor: pointer;
        
        .dimensions(100%;100%);
        .flexBox;
    }
    .btn:hover .dropbtn {
        color: @base;
        background-color: @blanco;
    }
    .dropdown-content {
        width: 180px;
        /*position: absolute;*/
        background-color: @blanco;
        z-index: 100;
        
        .flexBox;
        .boxShadow(0px;5px;10px;0px;rgba(0, 0, 0, 0.4));
        
        display: none;
    }
    .dropdown-content span, .dropdown-content a {
        min-height: 40px;
        color: @base;
        text-decoration: none;
        cursor: pointer;
        
        .dimensions(100%;40px);
        .flexBox;
    }
    .dropdown-content span:hover, .dropdown-content a:hover {
        background-color: #f0f0f0;
    }
}