@import "../variables.less";
@import "../funciones.less";

header {
    #dv_fechahora {
        padding: 0 30px;
        font-size: 12px;
        color: @base;
        background-color: @blanco;
        
        .dimensions;
        .flexBox(@justify-content:flex-end);
        //.textShadow;
    }
    #dv_logo {
        width: 25%;
        
        .flexBox;
        
        /*div {
            margin: 5px 0;
            background-color: green;
            
            .dimensions(150px;150px);
            .flexBox;
            .borderRadius(100%);
        }*/
        #sp_menu {
            display: none;
            /*background-color: @blanco;*/
            
            .dimensions(60px;60px);
        }
        img {
            margin: 5px 0;
            max-width: 140px;
            max-height: 140px;
            
            .dimensions(140px;140px);
            .borderRadius(100%);
            .boxShadow(-8px;0;16px;-2px);
        }
    }
    #dv_instituto {
        width: 75%;
        color: @its;
        text-shadow:
            -2px -2px 0 @blanco,
            2px -2px 0 @blanco,
            -2px 2px 0 @blanco,
            2px 2px 0 @blanco;
        letter-spacing: 4px;
        
        .font(@robotoblack;45px);
    }
    #dv_navegacion {
        min-height: 40px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: @blanco;
        /*background-color: @base;*/
        
        background: @base;
        background: -moz-linear-gradient(top, @base 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%);
        background: -webkit-linear-gradient(top, @base 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
        background: linear-gradient(to bottom, @base 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@base', endColorstr='#7db9e8',GradientType=0 );
        
        .dimensions(@height:40px);
        .flexBox;
    }
    #dv_navegacionsec {
        background-color: @fondo;
        padding: 0 30px;
        
        .dimensions(@height:40px);
    }
    #lnk_inicio {
        .dimensions(20px;20px);
        .flexBox;
    }
    #sp_inicio {
        /*background-color: @base;*/
        //cursor: pointer;
        
        //.dimensions(20px;20px);
        .dimensions(100%;100%);
    }
    #sp_institucionopc, #sp_programas, #sp_programa {
        cursor: default;
    }
    .etiqueta_institucion {
        cursor: pointer;
    }
    .contenedor_navegacionsec {
        .flexBox(@justify-content:flex-start);
    }
    .navsecactive {
        color: @grisnav;
    }
    .navsecnoactive {
        color: @base;
    }
    .etiqueta_next {
        /*background-color: @base;*/

        .dimensions(20px;20px);
    }
    .contendor_navegacionsecdn {
        display: none;
    }
    .btn {
        .dimensions(120px;100%);
        .flexBox;
    }
    .dropbtn {
        color: @blanco;
        text-decoration: none;
        cursor: pointer;
        
        .dimensions(100%;100%);
        .flexBox;
    }
    .btn:hover .dropbtn {
        color: @base;
        background-color: @blanco;
    }
    .dropdown-content {
        width: 180px;
        position: absolute;
        background-color: @blanco;
        z-index: 100;
        
        .flexBox;
        .boxShadow(0px;5px;10px;0px;rgba(0, 0, 0, 0.4));
        
        display: none;
    }
    /*.dropdown-content-programs {
        width: 250px;
    }*/
    .dropdown-content span, .dropdown-content a {
        min-height: 40px;
        color: @base;
        text-decoration: none;
        cursor: pointer;
        
        .dimensions(100%;40px);
        .flexBox;
    }
    .dropdown-content span:hover, .dropdown-content a:hover {
        background-color: #f0f0f0;
    }
    
    /*nav {
        min-height: 40px;
        
        .dimensiones(@height:45px);
        .flexBox;
        
        .opciones_navegacion{
            .dimensiones(125px;100%);
            .flexBox;
            
            &:hover {
                background-color: green;
            }
        }
    }*/
}



.menuopen{
    overflow: hidden;
}
.contenedor_opcionesmenu{
    display: flex;
    position: absolute;
    z-index: 30000;
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
    -webkit-transition: -webkit-transform 0s ease;
    transition: transform 0s ease;
    
    .dimensions(100%;100%);
}
.opcionesmenuopen{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    left: 0;
}
#dv_opcionesmenu{
    width: 260px;
    min-width: 260px;
    background-color: rgba(255, 255, 255, 1);
    color: @base;
    overflow-y: auto;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar{
        width: 0;
    }
    
    .contenedor_opcionmenu{
        position: relative;
        border-bottom: 1px solid @base;
        cursor: pointer;
        text-decoration: none;
        
        .dimensions(100%;60px);
        .flexBox(@justify-content:flex-start);
        .font(@robotobold;15px);
        
        .etiqueta_iconopcionmenu {
            background-color: @base;
            
            .dimensions(60px;60px);
        }
        .etiqueta_tituloopcionmenu {
            margin-left: 15px;
            text-decoration: none;
            color: @base;
        }
        .etiqueta_tituloopcionmenuseleccionada {
            color: @blanco;
        }
        .etiqueta_icondown {
            position: absolute;
            top: 0;
            right: 0;
            
            .dimensions(45px;60px);
        }
    }
    .contenedor_opcionmenuseleccionada {
        background-color: @base;
        color: @blanco;
    }
    .contenedor_institucionopcionmenu {
        height: 120px;
        border: 0;
        
        div {
            border-bottom: 1px solid @base;
            
            .dimensions(100%;60px);
            .flexBox(@justify-content:flex-start);
            
            .etiqueta_iconopcionmenu {
                background-color: @base;

                .dimensions(60px;60px);
            }
            .etiqueta_instituciontituloopcionmenu {
                padding-left: 15px;
                text-decoration: none;
                color: @base;
                
                .dimensions(185px;60px);
                .flexBox(@justify-content:flex-start);
            }
        }
    }
    #dv_institucionopcionesmenu, #dv_programasopcionesmenu {
        display: none;
    }
    /*#dv_noopcionmenu {
        .dimensions(100%;100%);
        
        div {
            background-color: @base;
            
            .dimensions(60px;100%);
        }
    }*/
}
#dv_cerrarmenu {
    position: absolute;
    background-color: @base;
    
    .dimensions(60px;60px);
    
    #sp_cerrarmenu {
        position: absolute;
        left: 0;
        
        .dimensions(60px;60px);
    }
}
#dv_backmenu{
    background-color: rgba(6, 5, 6, 0.4);
    
    .dimensions(100%;100%);
}